<html>
    <head>
        <title>Arpita's Blog</title>
    </head>
    <body>
	<div>
	    <h1>WELCOME TO ARPITA'S BLOG</h1>
		<h2>A Journey from nothing to everything</h2>
        <p>Hi there! This is my first attempt at writing a blog. Way to utilize lockdown boredome right!!<br> It's just about tid-bits from my daily life.</p>
        <em>All the content posted here is my personel experience.</em>
		<strong>Names mentioned in this and every other blog might be different from actual names of people.<br> This is just to respect everyone's privacy</strong>
    </div>
	<div>
	    <h1> This is the link <a href="">https://djangogirls.org</a> where i learned to create website.<br> First website!!!<br>Of course,i'm proud of myself.Nothing makes me feel better than being productive:)</h1>
	    <h1>Three mantras for Success:</h1>
		<ul><li>Passion</li><li>Persistance</li><li>Preseverance</li></ul>
	</div>
	</body>
</html>